<!DOCTYPE html>
<html>
<head>
	<title>news website</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/style.css">
	<style>
		*, *:before, *:after {
			box-sizing: border-box;
			margin: 0;
			padding: 0;
		  }
		  body {
			background: black;
			font-family: 'Open Sans', Helvetica, Arial, sans-serif;
		  }
		</style>
</head>
<body>
	<div style="background-color: black; color: white;">
	<header>
		<img src="/images/AUSK.jpeg" alt="AUSK NEWS" style="width: 100px;">
		<h1><B>AUSK NEWS PLATFORM</B></h1>
		<nav>
			<ul>
				<li><a href="/index">Home</a></li>
				<li><a href="/about">ABOUT</a></li>
				<li><a href="/CONTACT">Contact</a></li>
				<li><form action="/logout" method="get"><button>LOGOUT</button></form></li>
			</ul>
		</nav>
	</header>
	<br><br>

	<header style="background-color: rgb(131, 234, 255); text-align: center;">
		<div class="service">
		  <h1>NEWS PAPER</h1>
		</div>
	  </header>
	  

	<main>
			
			<!-- Photo Grid -->
			<div class="row"> 
			  
				<div class="column">
					<br>
					<a style="color: #ffffff;"; href=" https://epaper.mid-day.com/ePaperImg/md_25042023/?src=direct#epaper_Mumbai/3"> <img src="/images/ENGPAP.jpg" style="width: 300px; height: 500px;"><BR> English </a><br><br>
					<a style="color: #ffffff;"; href="http://www.epunyanagari.com/editionpage.php?edn=Mumbai&edid=PNAGARI_PM&pid=PNAGARI_PM&issueid=PNAGARI_PM_20230423&pn=1#Page/5 "> <img src="/images/SAKAL.jpg" style="width: 300px; height: 500px;"><BR> Marathi  </a><br><br>
					<a style="color: #ffffff;"; href=" https://www.dinamalar.com/"> <img src="/images/TAMILPAP.jpg" style="width: 300px; height: 500px;"><br> Tamil </a><br>
					<br>
					</div>
					<BR>

                    <div class="column">
						
						<a style="color: #ffffff;"; href="https://akhbarurdu.com/urdu_times/index.html "> <img src="/images/URDUPAP.jpg" style="width: 300px; height: 500px;"><br>Urdu  </a><br><br>
						<a style="color: #ffffff;"; href="https://beta.ajitjalandhar.com/ "> <img src="/images/PUNJABIPAP.jpg" style="width: 300px; height: 500px;"><br>Punjabi  </a><br><br>
						<a style="color: #ffffff;"; href=" https://epaper.eenadu.net/Home/Index?date=24/04/2023&eid=1&pid=2177034"> <img src="/images/TELGUPAP.jpg" style="width: 300px; height: 500px;"><br>Telgu   </a><br><br>
						
						
						</div>

						<div class="column">
							<a style="color: #ffffff;"; href="http://epaper.chandrikadaily.com "> <img src="/images/MALYPAP.jpg" style="width: 300px; height: 500px;"><br>Malyalam  </a><br><br>
							<a style="color: #ffffff;"; href="https://samajaepaper.in "> <img src="/images/ODIAPAP.jpg" style="width: 300px; height: 500px;"><br>Odia  </a><br><br>
							<a style="color: #ffffff;"; href="https://epaper.hindvasi.com ">  <img src="/images/SINDHIPAP.jpg" style="width: 300px; height: 500px;"><br>Sindhi </a> <br> <br>
							<br>
							<br>
							</DIV>
							</div>
			</div>
	</main>

	<footer>
        <div class="footer-wrapper">
            <p>&copy; 2023 AUSK NEWS Website</p>
        </div>
    
    <style>
        footer {
			background-color: #333;
			color: #fff;
			text-align: center;
			padding: 20px;
			position: fixed;
			bottom: 0;
			left: 0;
			right: 0;
		}
    </style>
    </footer>

	<script src="script.js"></script>
</div>
</body>
</html>
