<!DOCTYPE html>
<html>
	
<head>
	<title>AUSK NEWS PLATFORM</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/style.css">
	<style>
	*, *:before, *:after {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	  }
	  body {
		background: black;
		font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	  }
	  footer {
			background-color: #333;
			color: #fff;
			text-align: center;
			padding: 20px;
			position: fixed;
			bottom: 0;
			left: 0;
			right: 0;
		}
	</style>
</head>
<body>
	<div style="background-color: black; color: white;">
	<header>
		<img src="/images/AUSK.jpeg" alt="AUSK NEWS" style="width: 100px;">
		<h1><B>AUSK NEWS PLATFORM</B></h1>
		<nav>
			<ul>
				<li><a href="/index">Home</a></li>
				<li><a href="/about">ABOUT</a></li>
				<li><a href="/CONTACT">Contact</a></li>
				<li><form action="/logout" method="get"><button>LOGOUT</button></form></li>
			</ul>
		</nav>
	</header>
	<br><br>

	<header style="background-color: rgb(131, 234, 255);" >
		<h2><b>CHOOSE YOU LIKE </b></h2>
		<nav>
			<ul>
				<li><a href=https://www.aajtak.in/livetv>Live TV</a></li>
				<li><a href=https://timesofindia.indiatimes.com/news>Top News</a></li>
				<li><a href=https://www.ndtv.com/world-news/elon-musk-says-owning-twitter-quite-painful-will-sell-it-if-3941056>World news</a></li>
				<li><a href=https://sports.ndtv.com>Sports</a></li>
				<li><a href=https://www.pinkvilla.com>Film Industry</a></li>
				<li><a href=https://www.ndtv.com/india-news/senior-karnataka-bjp-leader-ks-eshwarappa-says-wont-contest-election-quits-electoral-politics-3938317>Politics</a></li>
				<li><a href=https://weather.com/en-IN/?Goto=Redirected>Weather</a></li>
				<li><a href=https://www.who.int>Health</a></li>
				<li><a href=https://indianexpress.com/section/technology/">Technology</a></li>

			</ul>
		</nav>
	</header>

	<main>
		<section class="hello">
			<h2 style="text-align: center;">Welcome to AUSK NEWS STATION</h2>
			<p style="text-align: center;">GET MORE THAN 100+ NEWS CHANNELS IN DIFFERENT LANGUAGES</p>
			
		</section>
		<br>
		<h2 style="text-align: center;">Our Speciality</h2>
			<br>
		<section class="services" style="display: flex;">
			
			<div class="service" style="flex: 1;">
			  <!-- <h3 style="text-align: center;">Speciality 1</h3><br> -->
			  <p style="text-align: center;"><I><b>Indian Vernacular News</b></I></p><br>
			  <H3 style="text-align: center;"><B><a href="/LANGUAGES" class="cta-btn"><img src="https://media.istockphoto.com/id/1306345527/photo/smart-tv-interactive-television-channel-collage-with-remote-control-on-the-table.jpg?b=1&s=170667a&w=0&k=20&c=tnC4_S3OZwgw0F7KJl596Sr6-fPdIOG6sPD5fGovoY0=" alt="LANGUAGE" style="width: 300px; height: 300px;"></a></B></H3>
			</div>
			<div class="service" style="flex: 1;">
			  <!-- <h3 style="text-align: center;">Speciality 2</h3><br> -->
			  <p style="text-align: center;">Global News</p><br>
			  <H3 style="text-align: center;"><B><a href="https://globalnews.ca/" class="cta-btn"><img src="https://media.istockphoto.com/id/1182477852/photo/breaking-news-world-news-with-map-backgorund.jpg?b=1&s=170667a&w=0&k=20&c=sY8G6CS65VlmrW1FKwOgOSMpc8AjxCIPVkiIX62Fq8c=" alt="NEWSPAPER" style="width: 300px; height: 300px;"></a></B></H3>
			</div>
			<div class="service" style="flex: 1;">
			  <!-- <h3 style="text-align: center;">Speciality 3</h3><br> -->
			  <p style="text-align: center;">News Papers</p><br>
			  <H3 style="text-align: center;"><B><a href="/NEWSPAPER" class="cta-btn"><img src="https://images.unsplash.com/photo-1579532536935-619928decd08?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8bmV3cyUyMHBhcGVyfGVufDB8fDB8fA%3D%3D&w=1000&q=80" alt="NEWSPAPER" style="width: 300px; height: 300px;"></a></B></H3>
			</div>
		  </section>
		  
		
		
	</main>

	<footer>
		<div class="footer-wrapper">
			<p>&copy; 2023 AUSK NEWS Website</p>
		</div>
	</footer>
	  
	

	<script src="script.js"></script>
</div>
</body>
</html>
