  <!DOCTYPE html>
    <html lang="en">
    <head>
        <link rel="languagestyle" href="/css/language.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/style.css">
        <style>
            body {
   background-size: cover;
   background: black;
    border-radius: 100px;
    background-attachment: fixed;
  }
  
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
</style>
        
    </head>
    <body>
        <div style="background-color: black; color: white;">
            <header>
                <img src="/images/AUSK.jpeg" alt="AUSK NEWS" style="width: 100px;">
                <h1><B>AUSK NEWS PLATFORM</B></h1>
                <nav>
                    <ul>
                        <li><a href="/index">Home</a></li>
                        <li><a href="/about">ABOUT</a></li>
                        <li><a href="/CONTACT">Contact</a></li>
                        <li><form action="/logout" method="get"><button>LOGOUT</button></form></li>
                    </ul>
                </nav>
            </header>
            <br><br>
        
            <header style="background-color: rgb(131, 234, 255);" >
                <h2><b>CHOOSE YOU LIKE </b></h2>
                <nav>
                    <ul>
                        <li><a href=https://www.aajtak.in/livetv>Live TV</a></li>
                        <li><a href=https://timesofindia.indiatimes.com/news>Top News</a></li>
                        <li><a href=https://www.ndtv.com/world-news/elon-musk-says-owning-twitter-quite-painful-will-sell-it-if-3941056>World news</a></li>
                        <li><a href=https://sports.ndtv.com>Sports</a></li>
                        <li><a href=https://www.pinkvilla.com>Film Industry</a></li>
                        <li><a href=https://www.ndtv.com/india-news/senior-karnataka-bjp-leader-ks-eshwarappa-says-wont-contest-election-quits-electoral-politics-3938317>Politics</a></li>
                        <li><a href=https://weather.com/en-IN/?Goto=Redirected>Weather</a></li>
                        <li><a href=https://www.who.int>Health</a></li>
                        <li><a href=https://indianexpress.com/section/technology/">Technology</a></li>
        
                    </ul>
                </nav>
            </header>

            <P><I><H1 style="text-align: center;">CHOOSE YOUR FAV LANGUAGE</H1></I></P>

    
        <main>
            <div class="row">
                <div class="column">
                  <ol>
                    <li>
                      <h2>
                        <i><a style="color: #ffffff;" href="/english"><img src="/images/ENGLISH.jpeg" alt="ENGLISH" style="width: 100%;">ENGLISH</a></i>
                      </h2>
                    </li>
                    <li>
                      <h2>
                        <i><a style="color: #ffffff;" href="/hindi"><img src="/images/HINDI.jpeg" alt="ENGLISH" style="width: 100%;">HINDI</a></i>
                      </h2>
                    </li>
                    <li>
                      <h2>
                        <i><a style="color: #ffffff;" href="/marathi"><img src="/images/MARATHI.jpg" alt="ENGLISH" style="width: 100%;">MARATHI</a></i>
                      </h2>
                    </li>
                    <!-- <li>
                      <h2>
                        <i><a style="color: #ffffff;" href="/sindhi"><img src="/images/sindhi.jpg" alt="ENGLISH" style="width: 100%;">Sindhi</a></i>
                      </h2>
                    </li> -->
                    <!-- <li>
                      <h2>
                        <i><a style="color: #ffffff;" href="/maly"><img src="/images/MALY.jpeg" alt="ENGLISH" style="width: 100%;">Malayalam</a></i>
                      </h2>
                    </li> -->
                  </ol>
                </div>
                <div class="column">
                  <ol start="4">
                    <li>
                      <h2>
                        <i><a style="color: #ffffff;" href="/telugu"><img src="/images/TELUGU.jpg" alt="ENGLISH" style="width: 100%;">TELUGU</a></i>
                      </h2>
                    </li>
                    <li>
                      <h2>
                        <i><a style="color: #ffffff;" href="/urdu"><img src="/images/URDU.jpeg" alt="ENGLISH" style="width: 100%;">URDU</a></i>
                      </h2>
                    </li>
                    <li>
                      <h2>
                        <i><a style="color: #ffffff;" href="/tamil"><img src="/images/TAMIL.jpeg" alt="ENGLISH" style="width: 100%;">tamil</a></i>
                      </h2>
                    </li>
                    <!-- <li>
                      <h2>
                        <i><a style="color: #ffffff;" href="/kannada"><img src="/images/KANNADA.jpeg" alt="ENGLISH" style="width: 100%;">Kannada</a></i>
                      </h2>
                    </li> -->
                    
                  </ol>
                </div>
                <div class="column">
                  <ol start="7">
                    <li>
                        <h2>
                          <i><a style="color: #ffffff;" href="/bengali"><img src="/images/BENGALI.jpeg" alt="ENGLISH" style="width: 100%;">Bengali</a></i>
                        </h2>
                      </li>
                    <!-- <li>
                      <h2>
                        <i><a style="color: #ffffff;" href="/punjabi"><img src="/images/PUNJABI.jpg" alt="ENGLISH" style="width: 100%;">PUNJABI</a></i>
                      </h2>
                    </li> -->
                    <li>
                        <h2>
                          <i><a style="color: #ffffff;" href="/odia"><img src="/images/ODIA.jpg" alt="ENGLISH" style="width: 100%;">Odia</a></i>
                        </h2>
                      </li>
                    <!-- <li>
                      <h2>
                        <i><a style="color: #ffffff;" href="/bhoj"><img src="/images/BHOJ.jpg" alt="ENGLISH" style="width: 100%;">BHOJPURI</a></i>
                      </h2>
                    </li> -->
                    <li>
                        <h2>
                          <i><a style="color: #ffffff;" href="/maly"><img src="/images/MALY.jpeg" alt="ENGLISH" style="width: 100%;">Malayalam</a></i>
                        </h2>
                      </li>
                  </ol>
                </div>
              </div>
              <br><br><br>
            
        </main>
        <footer>
            <div class="footer-wrapper">
                <p>&copy; 2023 AUSK NEWS Website</p>
            </div>
        
        <style>
            footer {
                background-color: #333;
                color: #fff;
                text-align: center;
                padding: 20px;
                position: fixed;
                bottom: 0;
                left: 0;
                right: 0;
            }
        </style>
        </footer>
    </div>
    </body>
    </html>
    



