<!DOCTYPE html>
<html>
	
<head>
	<title>My Website</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/style.css">
	<style>
	*, *:before, *:after {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	  }
	  body {
		background: black;
		font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	  }
	</style>
</head>
<body>
	<div style="background-color: black; color: white;">
	<header>
		<img src="/images/AUSK.jpeg" alt="AUSK NEWS" style="width: 100px;">
		<h1><B>AUSK NEWS PLATFORM</B></h1>
		<nav>
			<ul>
				<li><a href="/index">Home</a></li>
				<li><a href="/about">ABOUT</a></li>
				<li><a href="/CONTACT">Contact</a></li>
				<li><form action="/logout" method="get"><button>LOGOUT</button></form></li>
			</ul>
		</nav>
	</header>
	<br><br>

	<header style="background-color: rgb(131, 234, 255);" >
		<h2><b>    NEWS </b></h2>
		<nav>
			<ul>
				<li><a href= https://odia.news18.com/live-tv/>Live TV</a></li>
                <!-- <li><a href=  >Top News</a></li>
                <li><a href= >World news</a></li> -->
                <li><a href= https://www.etvbharat.com/oriya/odisha/sports>Sports</a></li>
                <li><a href= https://zeenews.india.com/hindi/tags/odia-film-industry.html>Film Industry</a></li>
                <li><a href= https://odia.oneindia.com/politics/>Politics</a></li>
                <!-- <li><a href= >Weather</a></li>
                <li><a href= >Health</a></li> -->
                <li><a href= https://www.etvbharat.com/oriya/odisha/science-and-technology>Technology</a></li>
			</ul>
		</nav>
	</header>
        <div class="head container">
            <h3>   News <span class="badge text-bg-secondary">by AUSK PLATFORM</span></h3>
            <span class="line"></span>
        </div><br>

        <section class="services" style="display: flex;">
			<div class="service" style="flex: 1;">
			  <p style="text-align: center;"><I><b>news 18  </b></I></p><br>
			  <H3 style="text-align: center;"><B><a href=" https://odia.news18.com/live-tv/ "><img src="  https://static.odia.news18.com/odia/uploads/2020/03/odia.png  " alt=" " style="width: 300px; height: 300px;"></a></B></H3>
			</div>
			<div class="service" style="flex: 1;">
			  <p style="text-align: center;">argusnews </p><br>
			  <H3 style="text-align: center;"><B><a href="https://argusnews.in/live-tv " class="cta-btn"><img src="https://d1ttqxosekmk9r.cloudfront.net/topics/47c2f7d8-a893-4cf2-a53e-d9073ec2f894.png   " alt="  " style="width: 300px; height: 300px;"></a></B></H3>
			</div>
			<div class="service" style="flex: 1;">
			  <p style="text-align: center;">zeenews  </p><br>
			  <H3 style="text-align: center;"><B><a href=" https://zeenews.india.com/hindi/zeeodisha  " class="cta-btn"><img src=" https://english.cdn.zeenews.com/static/public/newlogo1/zee_odisha_new2.svg  " alt="  " style="width: 300px; height: 300px;"></a></B></H3>
			</div>
		  </section><br>

          <section class="services" style="display: flex;">
			<div class="service" style="flex: 1;">
			  <p style="text-align: center;"><I><b>kanaknews  </b></I></p><br>
			  <H3 style="text-align: center;"><B><a href=" https://kanaknews.com/ "><img src="https://kanaknews.com/wp-content/uploads/2018/12/K-LOGO-SMALL.png    " alt=" " style="width: 300px; height: 300px;"></a></B></H3>
			</div>
			<!-- <div class="service" style="flex: 1;">
			  <p style="text-align: center;"> </p><br>
			  <H3 style="text-align: center;"><B><a href=" " class="cta-btn"><img src="   " alt="  " style="width: 300px; height: 300px;"></a></B></H3>
			</div>
			<div class="service" style="flex: 1;">
			  <p style="text-align: center;">  </p><br>
			  <H3 style="text-align: center;"><B><a href="   " class="cta-btn"><img src="   " alt="  " style="width: 300px; height: 300px;"></a></B></H3>
			</div> -->
		  </section><br>

          <!-- <section class="services" style="display: flex;">
			<div class="service" style="flex: 1;">
			  <p style="text-align: center;"><I><b>  </b></I></p><br>
			  <H3 style="text-align: center;"><B><a href="  "><img src="    " alt=" " style="width: 300px; height: 300px;"></a></B></H3>
			</div>
			<div class="service" style="flex: 1;">
			  <p style="text-align: center;"> </p><br>
			  <H3 style="text-align: center;"><B><a href=" " class="cta-btn"><img src="   " alt="  " style="width: 300px; height: 300px;"></a></B></H3>
			</div>
			<div class="service" style="flex: 1;">
			  <p style="text-align: center;">  </p><br>
			  <H3 style="text-align: center;"><B><a href="   " class="cta-btn"><img src="   " alt="  " style="width: 300px; height: 300px;"></a></B></H3>
			</div>
		  </section><br> -->
<br><br>
        <!-- This is Basic Dark Fotter -->
        <footer>
            <div class="footer-wrapper">
                <p>&copy; 2023 AUSK NEWS Website</p>
            </div>
        
        <style>
            footer {
                background-color: #333;
                color: #fff;
                text-align: center;
                padding: 20px;
                position: fixed;
                bottom: 0;
                left: 0;
                right: 0;
            }
        </style>
        </footer>
    
    
        <!-- Bootsratp js -->
        <script src="app.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
            integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
            crossorigin="anonymous"></script>
    
    </body>
    
    </html>
</html>