<!DOCTYPE html>
<html>
	
<head>
	<title>My Website</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/style.css">
	<style>
	*, *:before, *:after {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	  }
	  body {
		background: black;
		font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	  }
	</style>
</head>
<body>
	<div style="background-color: black; color: white;">
	<header>
		<img src="/images/AUSK.jpeg" alt="AUSK NEWS" style="width: 100px;">
		<h1><B>AUSK NEWS PLATFORM</B></h1>
		<nav>
			<ul>
				<li><a href="/index">Home</a></li>
				<li><a href="/about">ABOUT</a></li>
				<li><a href="/CONTACT">Contact</a></li>
				<li><form action="/logout" method="get"><button>LOGOUT</button></form></li>
			</ul>
		</nav>
	</header>
	<br><br>

	<header style="background-color: rgb(131, 234, 255);" >
		<h2><b> NEWS PLATFORM </b></h2>
		<nav>
			<ul>
				<li><a href= https://10tv.in/live-tv>Live TV</a></li>
                <li><a href= https://telugu.samayam.com/>Top News</a></li>
                <li><a href= https://telugu.samayam.com/latest-news/international-news/articlelist/48157894.cms>World news</a></li>
                <li><a href= https://telugu.mykhel.com/>Sports</a></li>
                <li><a href= https://tupaki.com/>Film Industry</a></li>
                <li><a href= https://www.eenadu.net/politics>Politics</a></li>
                <li><a href= https://tv9telugu.com/tag/weather>Weather</a></li>
                <li><a href= https://telugu.oneindia.com/health/>Health</a></li>
                <li><a href= https://telugu.gizbot.com/>Technology</a></li>
			</ul>
		</nav>
	</header>
        <div class="head container">
            <h3>TELUGU News <span class="badge text-bg-secondary">by AUSK PLATFORM</span></h3>
            <span class="line"></span>
        </div><br>

        <section class="services" style="display: flex;">
			<div class="service" style="flex: 1;">
			  <p style="text-align: center;"><I><b>Andhrajyothy  </b></I></p><br>
			  <H3 style="text-align: center;"><B><a href="https://www.andhrajyothy.com  "><img src="https://www.andhrajyothy.com/assets/images/logo.png    " alt="Andhrajyothy " style="width: 300px; height: 300px;"></a></B></H3>
			</div>
			<div class="service" style="flex: 1;">
			  <p style="text-align: center;"><b>Sakshi</b> </p><br>
			  <H3 style="text-align: center;"><B><a href="https://www.sakshi.com " class="cta-btn"><img src=" https://upload.wikimedia.org/wikipedia/commons/b/b6/Sakshi_newspaper_logo.png  " alt="  " style="width: 300px; height: 300px;"></a></B></H3>
			</div>
			<div class="service" style="flex: 1;">
			  <p style="text-align: center;"><i><b> Tnewstelugu</b></i>  </p><br>
			  <H3 style="text-align: center;"><B><a href=" https://tnewstelugu.com/  " class="cta-btn"><img src="https://upload.wikimedia.org/wikipedia/en/1/1a/T_News_logo.png?20150826060758   " alt="  " style="width: 300px; height: 300px;"></a></B></H3>
			</div>
		  </section><br>

          <section class="services" style="display: flex;">
			<div class="service" style="flex: 1;">
			  <p style="text-align: center;"><I><b>TV9telugu  </b></I></p><br>
			  <H3 style="text-align: center;"><B><a href="https://tv9telugu.com/  "><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/94/TV9TeluguLogo.jpg/1346px-TV9TeluguLogo.jpg    " alt=" " style="width: 300px; height: 300px;"></a></B></H3>
			</div>
			<div class="service" style="flex: 1;">
			  <p style="text-align: center;"><i><b> HMTV</b></i> </p><br>
			  <H3 style="text-align: center;"><B><a href="https://www.hmtvlive.com/ " class="cta-btn"><img src="https://upload.wikimedia.org/wikipedia/en/0/03/HMTV_Channel_Logo.png?20200925005308   " alt="  " style="width: 300px; height: 300px;"></a></B></H3>
			</div>
			<div class="service" style="flex: 1;">
			  <p style="text-align: center;"><b><i>V6vlugu</i></b>  </p><br>
			  <H3 style="text-align: center;"><B><a href=" http://www.v6velugu.com//  " class="cta-btn"><img src=" https://upload.wikimedia.org/wikipedia/en/b/b0/V6_News_logo.png?20171001185308  " alt="  " style="width: 300px; height: 300px;"></a></B></H3>
			</div>
		  </section><br>

          <!-- <section class="services" style="display: flex;">
			<div class="service" style="flex: 1;">
			  <p style="text-align: center;"><I><b>  </b></I></p><br>
			  <H3 style="text-align: center;"><B><a href="https://ntvtelugu.com/  "><img src="    " alt=" " style="width: 300px; height: 300px;"></a></B></H3>
			</div>
			<div class="service" style="flex: 1;">
			  <p style="text-align: center;"> </p><br>
			  <H3 style="text-align: center;"><B><a href=" " class="cta-btn"><img src="   " alt="  " style="width: 300px; height: 300px;"></a></B></H3>
			</div>
			<div class="service" style="flex: 1;">
			  <p style="text-align: center;">  </p><br>
			  <H3 style="text-align: center;"><B><a href="   " class="cta-btn"><img src="   " alt="  " style="width: 300px; height: 300px;"></a></B></H3>
			</div>
		  </section><br> -->
<br><br>
        <!-- This is Basic Dark Fotter -->
        <footer>
            <div class="footer-wrapper">
                <p>&copy; 2023 AUSK NEWS Website</p>
            </div>
        
        <style>
            footer {
                background-color: #333;
                color: #fff;
                text-align: center;
                padding: 20px;
                position: fixed;
                bottom: 0;
                left: 0;
                right: 0;
            }
        </style>
        </footer>
    
    
        <!-- Bootsratp js -->
        <script src="app.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
            integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
            crossorigin="anonymous"></script>
    
    </body>
    
    </html>
</html>